<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN</title>
</head>
<body>
    <h1>JOIN</h1>

    <form method="POST">
        <input name="userName" type="text" placeholder="username">
        <input name="userEmail" type="text" placeholder="email">
        <input name="userPwd" type="text" placeholder="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>